.list-container {
  margin: 16px;

  .audit-accordion {
    margin-top: 16px;

    .audit-panel {
      margin-bottom: 8px;
    }
  }


}
.no-records {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  color: rgba(0, 0, 0, 0.54);

  mat-icon {
    width: 48px;
    height: 48px;
    font-size: 48px;
    margin-bottom: 16px;
  }
}

.audit-type {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.table {
  height: calc(100vh - 260px);
  overflow-y: auto;
}

//.mat-mdc-header-cell  {
//  position: sticky;
//  top: 0;
//}
