<!-- filter.component.html -->
<form [formGroup]="filterForm" class="filter-container">
  <div class="filter-fields">
    <ng-container *ngFor="let config of filterConfig">
      <div class="filter-field" [ngSwitch]="config.type">
        <!-- Text Input -->
        <mat-form-field *ngSwitchCase="'text'" appearance="outline">
          <mat-label>{{ config.label }}</mat-label>
          <input matInput   (keydown.enter)="applyFilters()" [formControlName]="config.key">
        </mat-form-field>

        <!-- Select Input -->
        <mat-form-field *ngSwitchCase="'selectMany'" appearance="outline">
          <mat-label>{{ config.label }}</mat-label>
          <mat-select [formControlName]="config.key" (selectionChange)="applyFilters()" multiple>
            <mat-option *ngFor="let option of config.options"  [value]="option.value" >
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <!-- Single Date Picker -->
<!--        <mat-form-field *ngSwitchCase="'date'" appearance="outline">-->
<!--          <mat-label>{{ config.label }}</mat-label>-->
<!--          <input matInput [matDatepicker]="picker" [formControlName]="config.key">-->
<!--          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #picker></mat-datepicker>-->
<!--        </mat-form-field>-->


<!--     Date Range Picker-->
        <div *ngSwitchCase="'date'" class="date-range">
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>{{ config.label }} From</mat-label>-->
<!--            <input matInput [matDatepicker]="startPicker" formControlName="{{config.key}}_from">-->
<!--            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #startPicker></mat-datepicker>-->
<!--          </mat-form-field>-->


<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>{{ config.label }} To</mat-label>-->
<!--            <input matInput [matDatepicker]="endPicker" formControlName="{{config.key}}_to">-->
<!--            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #endPicker></mat-datepicker>-->
<!--          </mat-form-field>-->


          <input class="mdc-text-field mdc-text-field--outlined date-range--material "
                 [owlDateTime]="dt1"
                 [selectMode]="'range'"
                 [owlDateTimeTrigger]="dt1"
                 [formControlName]="config.key"

                 placeholder={{config.label}}>
          <owl-date-time
            [hour12Timer]="false"
            #dt1
          ></owl-date-time>

<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>{{ config.label }}</mat-label>-->
<!--            <mat-date-range-input [rangePicker]="picker">-->
<!--              <input matStartDate formControlName="{{config.key}}_from" placeholder="Start date">-->
<!--              <input matEndDate formControlName="{{config.key}}_to" placeholder="End date">-->
<!--            </mat-date-range-input>-->
<!--            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>-->
<!--            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--            <mat-date-range-picker #picker></mat-date-range-picker>-->
<!--          </mat-form-field>-->

        </div>

<!--        <div *ngSwitchCase="'date'" class="date-range">-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Enter a date range</mat-label>-->
<!--            <mat-date-range-input [rangePicker]="picker">-->
<!--              <input matStartDate formControlName="startDate" placeholder="Start date">-->
<!--              <input matEndDate formControlName="endDate" placeholder="End date">-->
<!--            </mat-date-range-input>-->
<!--            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>-->
<!--            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--            <mat-date-range-picker #picker></mat-date-range-picker>-->
<!--          </mat-form-field> -->
<!--        </div>-->
      </div>

    </ng-container>
  </div>

  <div class="filter-actions">
    <button mat-button color="ok" type="button" (click)="applyFilters()">
      Застосувати зміни
    </button>
  </div>

  <div class="filter-actions">
    <button mat-button color="warn" type="button" (click)="resetFilters()">
      Скинути
    </button>
  </div>
</form>
